* {
    margin: 0;
    padding: 0;
}


  
:root {
    --main: rgb(25, 146, 212);
    --grey: rgb(225, 232, 240);
}

svg,
.acc,
button,
.options *,
.settings *,
.trend > *{
transition: transform 0.3s ease;
}

.dashboard * svg {
    fill: white;
    height: 1.3em;
  }
.header * svg {
    height: 1.7rem;
}  

.c1 * svg {
    height: 1.5rem;
}

ul > li {
    display: flex;
    gap: 20px;
    font-weight: 800;
}

span > img {
    border-radius: 200px;
}



body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    /*grid-template-rows: 25vh auto;*/
    font-family: Arial, Helvetica, sans-serif;
    
}

.dashboard {
    grid-column: 1/2;
    grid-row: 1/3;
    color: white;
    background-color: var(--main);
    font-size: 1.2em;
    display: grid;
    gap: 2em;
    align-content: start;
    padding: 1em;
}

.dashboard > :first-child {
    font-size: 1.5em;
    display: flex;
    place-content: baseline;
    gap: 10px;
    
}

.options, .settings {
    display: grid;
    padding-left: 0;
    list-style: none;
    gap: 1rem;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    display: grid;
    box-shadow: 0px 4px 6px grey;
    grid-template-rows: 1fr 1fr;
    padding: 2vh 5vw;
}



.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/3;
    flex-wrap: wrap;
    font-weight: 700;
}


.search {
  width: 40vw;
  height: 2rem;
  border-radius: 40px;
  background-color: var(--grey);
  border: none;
}

.search1 {
    display: flex;
    align-items:center;
    gap: 4px;
}

.symb{
    display: flex;
    align-items: center;
    gap: 15px;
}

.acc {
    border-radius: 50%;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.morgan {
    background-color:yellow;
    color: RGB(250, 169, 17);
    height: 2.5rem;
    width: 2.5rem;
}

.trend > .morgan {
    background-color:yellow;
    color: RGB(250, 169, 17);
    height: 2.5rem;
    width: 2.5rem;
}

.tegan {
    color: red;
    background-color: orange;
}

.kendall {
    color: aquamarine;
    background-color: blueviolet;
}

.alex {
    color: beige;
    background-color: brown;
}

.down {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

.left {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.double {
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    font-weight: 800;
    grid-row: 1/3;
    margin-right: 5vh;
}

.hi {
    grid-column: 2/3;
    font-weight: 600;
    font-size: 0.8rem;
    position: relative;
    top: 15px;
}

.mo {
    grid-column: 2/3;
    font-size: 1.2rem;
    font-weight: 700;
}

.content {
    display: grid;
    grid-column: 2/ 3;
    grid-row: 2/ 3;
    background-color: var(--grey);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.right {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.right button{
    background-color: var(--main);
    color: white;
    border-radius: 20px;
    height: 36px;
    width: 84px;
    border: none;
    font-weight: 600;
}

.content > div{
    display: grid;
}

.c1 {
    display: grid;
    grid-template-rows: 30px auto;
    text-align: start;
    padding: 15px;
    grid-row: 1/2;
}

.c1 > :first-child {
   font-size: 1.3rem;
   font-weight: 700;
   display: flex;
   align-items: center;
}

.wrap {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(auto-fil, 200px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.yp {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-bottom: 10px;
}

.window {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-left: solid 5px rgb(240, 180, 41);
    box-shadow: 2px 2px 5px 1px grey;
    font-size: 0.9rem;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.window > p {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.pics {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 10px;
}

.c2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(auto-fil 1fr);/*1fr 1fr*/
    padding: 10px;
}

.announce {
    display: flex;
    flex-direction: column; 
}

.trending {
    padding-right: 10px;
    
}

.announce > :first-child, 
.trending > :first-child {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ann-con {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px grey;
    padding: 20px;
    margin-right: 10px;
    text-overflow: ellipsis;
    
}

.con {
    text-overflow: ellipsis;
    color: grey;
    font-size: 0.8rem;
    border-bottom: solid 1px var(--grey);
    padding: 10px;
}

.con > :first-child {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    padding-bottom: 5px;
}

.last {
    border-bottom: none;
} 

.trend {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px grey;
    padding: 20px;
  }

.trend-wrap {
    display: flex;
    gap: 10px
}    

.trend-con{
    align-content: center;
    grid-area: acc;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.text > :nth-child(2) {
    color: grey;
}

svg:hover,
.acc:hover,
button:hover,
.options *:hover,
.settings *:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.trend > *:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-color: var(--grey);
}
/*.trend-wrap > :nth-child(2), .trend-wrap > :nth-child(3) {
    grid-column: 2/5;
    align-items: center;
}*/


